<!DOCTYPE html>
<html>
  <head>
    <title>MesaggeMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui inverted large menu">
      <div class="ui container">
        <%= render 'layouts/navigation' %>   
      </div>
    </div>
    <div class="ui container">
      <%= render 'layouts/messages' %>    
      <%= yield %>
      <hr>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
